{
	"semi": true,
	"singleQuote": false,
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"trailingComma": "none",
	"printWidth": 150,
	"tabWidth": 4,
	"useTabs": true,
	"arrowParens": "always",
	"endOfLine": "auto"
}