$valid: #198754;
$invalid: #DC3545;

.login,
.register {
	background-color: #151515;
	padding: 15px 80px;
	width: 480px;
	margin: 0 auto;

	h2 {
		font-size: 32px;
		margin-bottom: 25px;
		color: #fff;
		text-align: center;
	}

	button {
		margin-bottom: 25px;
	}

	p {
		color: #fff;
	}

	a {
		color: #d65200;
	}
}

.form-control {
	margin-bottom: 25px;

	label {
		display: block;
		font-size: 20px;
		color: #fff;
	}

	input {
		width: 100%;
		border: 1px solid #000;
		padding: 8px 16px;
		background-color: #8e8e8e;
		font-size: 16px;

		&::placeholder {
			color: #fff;
		}

		&.valid {
			border: 1px solid $valid;
		}

		&.invalid {
			border: 1px solid $invalid;
		}
	}

	select {
		padding: 4px 16px;
		background-color: #151515;
		font-size: 14px;

		option {
			font-size: inherit;
		}
	}

	.radio {
		label {
			display: inline-block;
		}

		input {
			width: fit-content;
			margin-right: 5px;

			// &::before{
			// 	content: '';
			// 	width: 16px;
			// 	height: 16px;
			// 	background-color: #1c1c1c;
			// 	border: 2px solid #1c1c1c;
			// 	display: block;
			// 	border-radius: 16px;
			// }
			// &:checked::before{
			// 	background-color: #d65200;
			// }
		}
	}

	&.inline {
		display: inline-block;
		margin-bottom: 0;

		label {
			display: inline-block;
			margin-right: 10px;
		}

		input {
			width: fit-content;
			padding: 4px 8px;
			border: 1px solid black;
		}

		select {
			padding: 4px 34px 4px 16px;
			--webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: url('../assets/angle-down.svg');
			background-repeat: no-repeat;
			background-position: 108px;
			background-color: #151515;
		}

		.radio {
			display: inline-block;
		}
	}

}

@media (max-width: 830px) {}