.library {
    width: 50%;

    .search {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .manual {
        display: flex;
        align-items: flex-start;
        border: 1px solid #d65200;
        margin-bottom: 20px;
		background-color: #151515;
        img {
        }

        .info {
            padding: 5px 20px;

            .title {
                font-size: 32px;
            }

            .dates {
                &>* {
                    display: inline-block;
                    margin-right: 20px;
                    font-size: 14px;
                }
            }
            .description {
                font-size: 16px;
                text-align: justify;
				text-overflow: ellipsis;
				overflow: hidden;
				height: 100px;
            }

			.visibility {
				display: inline-block;
				font-size: 16px;
				.public {
					background-color: #0C9100;
				}
				.private {
					background-color: #CE0000;
				}
				&>*{
					display: inline-block;
					padding: 2px 4px;
					margin-left: 10px;
				}
			}

            &>* {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

	&.mylibrary {
		width: 66%;
	}
}