@import 'reset', 'fonts', 'main', 'menu', 'form', 'profile', 'profile_edit', 'tag', 'modal', 'library', 'friends', 'search', 'manual_editor', 'button_link', 'steps_editor', 'steps_editor_elements', 'tag_control', 'view_manual';

$d6: #d65200;
$f: #ffffff;

html {
	scroll-behavior: smooth;
}

body {
	background-color: #1C1C1C;
	font-family: 'Open Sans';
}

a {
	color: $f;

	&:hover {
		color: $d6
	}
}

button {
	background-color: $d6;
	padding: 8px 32px;
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	cursor: pointer;
}

.content {
	padding-block: 90px;
}